* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Unbounded, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed from space-between */
  min-height: 100vh; /* Changed from height: 100vh */
  color: white;
  position: relative;
  overflow: visible; /* Changed from hidden */
}

.app-section {
  padding: 20px 20px 0 20px;
  background: linear-gradient(249.52deg, #131620 0%, #07090d 100%);
  width: 100%;
}

.app-wrapper {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.app-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.app-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 24px;
  line-height: 1.5;
}

.content-wrapper {
  flex: 1; /* Ensure it fills remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Keep the progress bar at the top */
  align-items: center;
  width: 90%;
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
}

.progress-section {
  width: 100%;
  max-width: 800px;
  position: relative;
  z-index: 1;
}

.phone-cover-section {
  position: relative;
  bottom: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  margin-top: 20%;
}

.phone-cover-image {
  max-width: 300px;
  height: auto;
  aspect-ratio: 1 / 1.48;
  object-fit: contain;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .content-wrapper {
    width: 100%;
    padding: 0 10px;
  }

  .app-title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .progress-section {
    transform: scale(0.9);
    margin: -20px;
  }

  .phone-cover-image {
    max-width: 250px;
  }
}

@media (min-width: 480px) {
  .phone-cover-image {
    transform: translate(-10px, -50px);
  }
}

@media (min-width: 960px) {
  .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 600px;
  }

  .progress-section {
    flex: 0 1 800px;
    padding-right: 40px;
  }

  .phone-cover-section {
    flex: 0 0 auto;
    position: relative;
    right: 0;
    margin-top: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .phone-cover-image {
    max-width: none;
    height: 600px;
    max-height: 80vh;
    transform: none;
    object-fit: contain;
    margin-right: -100px;
  }

  .app-title {
    padding: 40px 20px;
  }
}
