body {
  background-color: #0a0d12;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  color: white;
}

.app-title {
  font-family: Unbounded, sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 24px;
}
